h1,
h2,
h3,
p,
ul,
img {
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-black);
  font-weight: 700;
  text-decoration: none;
  white-space: nowrap;
}

ul {
  list-style: none;
}

p + p {
  margin-top: 1rem;
}

img {
  display: block;
}

header,
footer,
main {
  padding: 1rem 0;
}

section {
  padding: 4rem 2rem;
}

.btn {
  background-color: var(--secondary-color-1);
  border-radius: .5rem;
  border: none;
  color: var(--color-black);
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
  padding: .5rem .66rem;
}

.btn:hover {
  background-color: var(--highlight-color-2);
  color: var(--color-white);
}

.container {
  align-items: center;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 720px;
  padding: 0 1rem;
}

/* Header */

header {
  background-color: var(--color-white);
  width: 100%;
}

header .logo img {
  max-width: 180px;
}

/* Hamburger Menu */

header .hamburger-nav {
  cursor: pointer;
  padding: .5rem .33rem;
}

header .hamburger-nav:hover {
  background-color: var(--highlight-color-1);
}

header nav:not(.show) {
  display: none;
}

header nav .show {
  display: block;
}

header nav {
  background-color: var(--highlight-color-1);
  left: 0;
  position: absolute;
  top: 82px;
  width: 100%;
}

header nav a {
  display: block;
  padding: 1.5rem 1rem;
}

header nav a:hover {
  background-color: var(--highlight-color-2);
  color: var(--color-white);
}

header nav a.active,
header nav a:hover.active {
  background-color: var(--primary-color);
  color: var(--color-white);
  cursor: default;
  pointer-events: none;
}

header nav li:not(:first-of-type) {
  border-top: 1px solid var(--primary-color);
}

header .order-online img {
  max-width: 42px;
}

.section-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  min-width: 100%;
  width: 100%;
}

/* Hero */

.hero {
  background-color: var(--primary-color);
}

.hero h1 {
  color: var(--secondary-color-1);
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1;
  margin: 1rem 0 -.5rem;
}

.hero .location {
  color: var(--color-white);
  font-family: var(--headline-font, serif);
  font-size: 2.5rem;
  line-height: 1;
}

.hero .description {
  color: var(--color-white);
  font-size: 1.25rem;
  margin: 1rem 0;
}

.hero .btn {
  margin: 1rem 0;
}

.hero .hero-image {
  border-radius: var(--border-radius-lg);
  margin: auto;
  max-width: 280px;
}

/* Highlights */

.highlights {
  background-color: var(--color-white);
}

.highlights .container {
  gap: 0;
  flex-flow: row wrap;
}

/* Menu Card */

.menu-card {
  min-width: 200px;
}

.menu-card > img {
  min-width: 100%;
  border-radius: var(--border-radius-lg) var(--border-radius-lg) 0 0;
}

.menu-card-content {
  background-color: var(--highlight-color-1);
  padding: 1rem;
}

.menu-card h3 {
  font-family: var(--headline-font, serif);
  font-size: 1.25rem;
}

.menu-card .price {
  color: var(--secondary-color-2);
  font-size: 1.25rem;
  margin: 0;
}

/* Testimonials */

.testimonials {
  background-color: var(--secondary-color-3);
}

.testimonials .container {
  flex-flow: row wrap;
  gap: 0;
}

.testimonials .section-header {
  justify-content: center;
}

/* Testimonial Card */

.testimonial-card {
  background-color: var(--color-white);
  padding: 1rem;
}

.testimonial-card h3 {
  margin-bottom: .5rem;
}

.testimonial-card-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.testimonial-card .rating-info {
  margin: .5rem 0 .25rem;
}

.testimonial-card .star {
  max-width: 18px;
  display: inline-block;
}

/* About */

.about {
  background-color: var(--color-white);
}

.about .container {
  width: 100%;
  gap: 1rem;
}

.about .section-header {
  min-width: 50%;
  max-width: 50%;
  flex-basis: 50%;
  width: 50%;
  flex-flow: column;
  align-items: flex-start;
}

.about .name {
  font-family: var(--headline-font, serif);
  font-size: 3.5rem;
  font-weight: 400;
  margin: 1rem 0 -.5rem;
  color: var(--primary-color);
  line-height: 1;
}

.about .location {
  font-family: var(--headline-font, serif);
  font-size: 2.5rem;
  color: var(--secondary-color-1);
  line-height: 1;
}

.about .description {
  font-size: 1.25rem;
  margin: 1rem 0;
}

.about .about-photos {
  position: relative;
  min-width: 50%;
  max-width: 50%;
  flex-basis: 50%;
  width: 50%;
  height: 342px;
}

.about .about-photos img {
  width: 200px;
  border-radius: var(--border-radius-lg);
  position: absolute;
  bottom: 0;
  left: 0;
}

.about .about-photos img + img {
  bottom: 6rem;
  left: 10rem;
}

/* Footer */

footer {
  text-align: left;
  padding-bottom: 2rem;
}

footer .container {
  align-items: flex-start;
}

footer .logo {
  background-color: var(--color-white);
  margin-top: 1rem;
  padding: .75rem
}

footer .logo img {
  width: 90px;
}

footer nav a {
  display: block;
  padding: .1rem .25rem;
}

footer nav a:hover {
  background-color: var(--highlight-color-2);
  color: var(--secondary-color-1);
}

footer nav a.active,
footer nav a:hover.active {
  background-color: var(--secondary-color-1);
  color: var(--color-black);
  cursor: default;
}

footer .social-nav li {
  margin-bottom: .5rem;
}

footer .social-nav li a {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

footer .social-nav li img {
  margin-right: .5rem;
  max-width: 18px;
}

/* Pages */

.page {
  background-color: var(--color-white);
  padding: 2rem 0 4rem;
}

.page .container {
  flex-flow: column nowrap;
  gap: 0;
}

.page-header {
  margin-bottom: 2rem;
  min-width: 100%;
  width: 100%;
}

.page-content {
  min-height: 400px;
  width: 100%;
}

.page.reservations .page-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}

/* Forms */

.form fieldset{
  border: 0;
  display: grid;
  gap: 2rem;
  margin: 0;
  padding: 0;
  width: 100%;
}

.form label,
.form input,
.form select,
button[type=submit] {
  line-height: 1;
  width: 100%;
}

.form label {
  display: block;
  width: 100%
}

.form select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

input[type=text],
input[type=date],
input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=range] {
  width: 100%;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type=submit],
button[type=submit] {
  padding: 1.5rem 2rem;
}

input[type=submit]:disabled,
button[type=submit]:disabled {
  background-color: var(--color-medium-gray);
  color: var(--color-dark-gray);
  cursor: not-allowed;
  opacity: .5;
}

select,
textarea {
  width: 100%;
  margin: 8px 0;
}

select,
label {
  cursor: pointer;
}

.input-group-label {
  margin-bottom: .75rem;
}

.radio-group input[type=radio] {
  display: inline-block;
  width: auto;
}

.radio-group label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 240px;;
}

.radio-group label:not(:last-of-type) {
  margin-bottom: .5rem;
}

/* Feedback Dialog */

.btn-feedback {
  border-radius: 1rem 1rem 0 0;
  bottom: 12rem;
  position: fixed;
  right: 0;
  transform-origin: bottom right;
  transform: rotate(-90deg);
  z-index: 100;
}

.feedback-dialog {
  background-color: var(--color-light-gray);
  border: 0;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-lg);
  margin-top: 2rem;
  padding: 1.25rem;
  width: 480px;
}

.feedback-dialog::backdrop {
  background-color: rgba(0, 0, 0, .5);
  backdrop-filter: blur(5px);
}

.feedback-header {
  padding: .5rem 0 3rem;
  position: relative;
}

[method=dialog] button {
  align-items: center;
  background-color: var(--secondary-color-1);
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
}
[method=dialog] button:hover {
  background-color: var(--highlight-color-2);
  color: var(--color-white);
}

[method=dialog] button:hover svg {
  fill: var(--color-white);
}

[method=dialog] button svg {
  stroke-width: 0;
}

.feedback-dialog form {
  width: 100%;
}

.reservation-details {
  background-color: var(--secondary-color-1);
  padding: 1rem;
}

.reservation-details ul {
  margin-top: 2rem;
}

.reservation-details-list li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 0;
}

.reservation-details-list li svg {
  margin-right: .5rem;
}

.reservation-details-list li:not(:first-of-type) {
  border-top: 1px solid #fff;
}

/* Spinner (based on Bootstrap) */

.spinner-border {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: text-bottom;
  border: .25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border .75s linear infinite;
          animation: spinner-border .75s linear infinite;
}

.spinner-border-sm {
  width: 1rem;
  height: 1rem;
  border-width: .2em;
}

@-webkit-keyframes spinner-border {
  to { -webkit-transform: rotate(360deg); }
}

@keyframes spinner-border {
  to { transform: rotate(360deg); }
}

/* Media Queries */

@media screen and (min-width: 980px) {
  header .hamburger-nav,
  header .order-online {
    display: none;
  }

  header nav {
    background-color: unset;
    display: block !important;
    left: auto;
    position: relative;
    top: auto;
    width: auto;
  }

  header nav li:not(:first-of-type) {
    border-top: none;
  }

  header nav ul {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  header nav li:not(:first-of-type) {
    margin-left: .25rem;
  }

  header nav a {
    border-radius: .5rem;
    padding: .5rem .66rem;
  }

  header nav a:hover {
    background-color: var(--highlight-color-2);
    color: var(--color-white);
  }
}
